<!Doctype html>
<html lang="ko">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
    <title>나알너노</title>
    <!-- style -->
    <style type="text/css">
        * {
            font-family: "Stylish", sans-serif;
        }

        .wrap {
            text-align: center;
            margin: auto;
        }

        .comment {
            color: blue;
            font-weight: bold;
        }

        .card {
            text-align: center;
            display: inline-block;
            height: 350px;

        }

        .popup {
            border: 1px solid;
            border-color: #CECCCC;
            background-color: white;
        }

        .flex-container {
            display: flex;
            width: 50%;
            margin: auto;
        }

        .flex-container > div {
            margin: 10px;
            padding: 20px;
            font-size: 15px;
        }

        #cards-box {
            width: 800px;
            margin: auto;
        }

        .nav_b {
            padding: 20px;
        }

        h1 {
            position: absolute;
            padding-left: 20px;
        }

        #popup {
            display: none;
            position: absolute;
            width: 350px;
            top: 10%;
            left: 40%;
        }

        .commentBtn {
            margin-top: 10px;
        }


        .cardList {
            width: 350px;
        }

        .commentBox {
            width: 350px;
            background-color: white;
            border: 5px grey;
        }

        .naalneno {
            margin: auto;
            text-align: center;
            margin-top: 20px;
        }
        #closeBtn{
            background-color: white;
            float: right;
        }
    </style>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/7cc8461e88.js" crossorigin="anonymous"></script>
    <script type="text/javascript">


        //review.html의 앨범 사진 클릭 시 팝업창 띄어주는 함수.
        function popUp(rv_singer, rv_song) {
            $.ajax({
                type: "GET",

                // 클릭된 사진에 대한 가수, 노래 데이터 서버로 전달
                url: "api/popUp?rvSingerGive=" + rv_singer + "&rvSongGive=" + rv_song,
                data: {},
                success: function (response) {
                    // 팝업창 중복 막기
                    $('#popup1').empty()

                    // 팝업창 클릭시 나타나는 효과 모음
                    let cards_deck = document.getElementById('cards-deck')
                    let popup = document.getElementById('popup')
                    cards_deck.style.opacity = '0.2'
                    popup.style.display = "block"

                    // 서버에서 받아온 데이터
                    let rvSong = response[1]['musicSinger']['rv_song'];
                    let rv_image = response[1]['musicSinger']['rv_image'];
                    let rvSinger = response[1]['musicSinger']['rv_singer'];
                    let rvLike = response[1]['musicSinger']['rv_like'];
                    let rvReview = response[1]['musicSinger']['rv_review'];
                    let temp_html = ""

                    // id값에 따라서 success와 fail로 나눠서 받아옴.
                    // success 일 경우 수정/삭제 버튼 추가.
                    if(response[0]['result']=='success'){
                                                temp_html = `<div class="card cardList">
                                        <button class="btn closeBtn" id="closeBtn" align="right" onclick="closeBtn()">X</button>
                                        <img class="card-img-top"
                                             src="${rv_image}"
                                             alt="Card image cap">
                                        <div class="card-body">
                                            <span>${rvSinger}</span>
                                            <span>${rvSong}</span>

                                            <p>${rvReview}</p>
                                            <p><i class="far fa-thumbs-up"></i>: ${rvLike}</p>
                                        </div>
                                        <button onclick="setChildValue('${rvSong}', '${rvSinger}', '${rvReview}', '${rvLike}')">수정</button>
                                        <button onclick="deleteBtn('${rvSinger}', '${rvSong}')">삭제</button>
                                        <div class="commentBtn">
                                           <form class="form-inline" onsubmit="return false;">
                                              <div class="form-group mx-sm-3 mb-2">
                                                <input type="text" size="30" maxlength="28" class="form-control" id="inputText" placeholder="리뷰 댓글 작성">
                                              </div>
                                              <button type="submit" onclick="commentSubmit('${rvSinger}', '${rvSong}')" class="btn btn-primary mb-2"> 등록 </button>
                                            </form>
                                        </div>
                                    </div>`
                    }else{
                                                temp_html = `<div class="card cardList">
                                        <button class="btn closeBtn" id="closeBtn" align="right" onclick="closeBtn()">X</button>
                                        <img class="card-img-top"
                                             src="${rv_image}"
                                             alt="Card image cap">
                                        <div class="card-body">
                                            <span>${rvSinger}</span>
                                            <span>${rvSong}</span>
                                            <p>${rvReview}</p>
                                            <p><i class="far fa-thumbs-up"></i>: ${rvLike}</p>
                                        </div>
                                        <div class="commentBtn">
                                           <form class="form-inline" onsubmit="return false;">
                                              <div class="form-group mx-sm-3 mb-2">
                                                <input type="text" size="30" maxlength="28" class="form-control" id="inputText" placeholder="리뷰 댓글 작성">
                                              </div>
                                              <button type="submit" onclick="commentSubmit('${rvSinger}', '${rvSong}')" class="btn btn-primary mb-2"> 등록 </button>
                                            </form>
                                        </div>
                                    </div>`
                    }

                    $('#popup1').append(temp_html)
                }
            })
        }


        // review 페이지에 있는 앨범사진 클릭 시 실행되는 함수들.
        function popUpCommentUp(rv_singer, rv_song) {
            popUp(rv_singer, rv_song);
            commentUp(rv_singer, rv_song)
        }

        // 팝업창 클릭 시 댓글들 불러오는 함수
        function commentUp(rv_singer, rv_song) {
            $.ajax({
                    type: "GET",

                    // 서버로 가수, 제목 데이터를 보냄
                    url: "api/commentUp?rvSingerGive=" + rv_singer + "&rvSongGive=" + rv_song,
                    data: {},
                    success: function (response) {
                        // 댓글창이 중복되는 것을 막음.
                        $('#commentAll').empty()
                        let comment = response['comments']
                        for (let i = 0; i < comment.length; i++) {
                            let commentNick = comment[i]['m_name']
                            let commentList = comment[i]['rv_comment']
                            let temp_html = `<tr>
                                                <th scope="row">${commentNick}</th>
                                                <td>${commentList}</td>
                                                <td>21.11.03</td>
                                            </tr>`
                            $('#commentAll').append(temp_html)
                        }
                    }

                }
            )
        }

        // 댓글 등록 버튼 클릭 함수
        function commentSubmit(rv_singer, rv_song) {
            let inputText = $('#inputText').val()

            if(inputText !== ""){
                $.ajax({
                    type: "POST",
                    url: "/api/commentSubmit",

                    // 서버로 가수, 노래, 입력된 값을 전달함.
                    data: {
                        rv_comment_give: inputText,
                        rv_singer_give: rv_singer,
                        rv_song_give: rv_song,
                    },
                    success: function (response) {
                        console.log(response)
                        alert(response["msg"]);
                        window.location.reload()
                    }
                })
            }
        }

        //팝업창 닫기 버튼 클릭 함수
        function closeBtn() {
            let cards_deck = document.getElementById('cards-deck')
            let popup = document.getElementById('popup')

            //review 카드 모음 화면의 투명도를 없앰
            cards_deck.style.opacity = '1'

            //팝업창을 숨김
            popup.style.display = "none"
        }

        // 삭제 버튼 클릭 함수
        function deleteBtn(rv_singer, rv_song) {
            if (confirm("정말로 삭제 하시겠습니까?")) {
                $.ajax({
                    type: "POST",
                    url: "/api/delete",

                    // 서버로 클릭된 가수, 제목을 보냄.
                    data: {
                        rv_singer_give: rv_singer,
                        rv_song_give: rv_song
                    },
                    success: function (response) {
                        console.log(response)
                        alert(response["msg"]);
                        window.location.reload()
                    }
                })
            }
        }

        // 팝업창에 있는 수정 버튼 함수
        // 수정 페이지로 넘어갈때 클릭된 팝업창의 가수, 제목이 같이 넘어가서 해당 페이지를 꾸며줘야함.
        // review.html -> 서버 -> reviewUpdate.html 의 구조를 생각했는데 다른 html로 서버를 통해 데이터 전달하는 방법을 몰라
        // window.location.href 를 이용해 URL로 데이터 전달. (get??)
        function setChildValue(index1, index2, index3, index4) {
            window.location.href = "reviewUpdate?rvSong=" + index1 + "&rvSinger=" + index2 + "&rvReview=" + index3 + "&rvLike=" + index4
        }

        // 좋아요 함수
        function likeUp(rv_singer, rv_song) {
            $.ajax({
                type: "POST",
                url: "/api/like",

                //가수, 제목 데이터를 서버로 보냄.
                data: {
                    rv_singer_give: rv_singer,
                    rv_song_give: rv_song
                },
                success: function (response) {
                     window.location.reload()
                }
            })
        }

        // 로그아웃 함수
        function sign_out() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = "/"
        }

    </script>
</head>
<body>
<div class="wrap">
    <nav class="nav_b">
        <div class="naalneno">
            <h3 class="subtitle is-sparta" onclick="window.location.href='/review'">나알너노<br>
                나만 알고 싶은 데 너에게 추천하는 노래</h3>
        </div>
        <div class="btn_b">
            <button type="submit" class="btn" onclick="sign_out()">로그아웃</button>
            <button type="submit" class="btn" onclick="window.location.href='/reviewWrite'">
                글쓰기
            </button>
        </div>
    </nav>

    <!-- jinja2 적용 부분  -->
    <!-- review.html 카드 구성 부분   -->
    <div id="cards-deck" class="flex-container ">
        <div id="cards-box" class="card-columns">
            {% for review in reviews %}
            <div class="card">
                {% set rv_song = review['rv_song'] %}
                {% set rv_singer = review['rv_singer'] %}
                {% set rv_image = review['rv_image'] %}
                {% set rv_like = review['rv_like'] %}
                {% set rv_url = review['rv_url'] %}
                <img class="card-img-top"
                     src="{{ rv_image }}"
                     alt="Card image cap"
                     onclick="popUpCommentUp('{{ rv_singer }}','{{ rv_song }}')" >
                <div class="card-body">
                    <p class="card-text">{{ rv_singer }}</p>
                    <a target="_blank" href="{{ rv_url }}" class="card-title">{{ rv_song }}</a><br>
                    <p class="card-text comment" onclick="likeUp('{{ rv_singer }}', '{{ rv_song }}')">(<i class="far fa-thumbs-up"></i>: {{ rv_like
                        }}) </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!--팝업창 구성 부분-->
    <div id="popup" class="popup">
        <div id="popup1"></div>
        <div id="popComment">
            <table class="table commentBox">
                <thead>
                <tr>
                    <th scope="col">닉네임</th>
                    <th scope="col">댓글</th>
                    <th scope="col">등록 날짜</th>
                </tr>
                </thead>
                <tbody id="commentAll">
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</body>
</html>